header {
    margin-bottom: 2.5em;
}
header a {
    color: var(--page-color);
}

header img {
    max-width: 100%;
}

header nav {
    display: flex;
    justify-content: center;
}

header nav a {
    display: block;
    padding: 0 1em;
}
