header {
    margin-bottom: 2.5em;
    font-family: 'VT323', monospace;
    letter-spacing: 4px;
}


header a,
header a:hover {
    color: var(--page-color);
    padding-bottom: 6px;
    border-bottom: 2px solid var(--page-color);
}

/** https://davidwalsh.name/css-flip */

.flip-container {
    perspective: 1000px;
    display: inline-block;
    transform: rotateY(0);
    white-space: pre;
    
}

.flipper {
    display: block;
    transition: 0.3s;
    transform-style: preserve-3d;
    position: relative;
}

.flip-container.flipped .flipper {
    transform: rotateY(-180deg);
}

/* hide back of pane during swap */
.flipper .original,
.flipper .new {
    display: block;
    backface-visibility: hidden;
    background-color: var(--background-color);
    position: absolute;
    top: 0;
    left: 0;
}

/* front pane, placed above back */
.flipper .original {
    z-index: 2;
    transform: rotateY(0deg);
}

/* back, initially hidden pane */
.flipper .new {
    transform: rotateY(180deg);
}