@import url('./header.css');
@import url('./tweet_view.css');
@import url('./tweet_select_view.css');

:root {
    --background-color: #ff7b7b;
    --changed-character-color: #aefbbe;
    --page-color: white;
    --content-color: #444;
}

html {
    width: 100%;
    height: 100%;
    background: var(--background-color);
    color: var(--content-color);
    text-align: center;
    font-size: 16px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
}

body {
    min-height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

a {
    color: var(--content-color);
    text-decoration: none;
}

a:hover {
    color: #1B95E0;
}

#main {
    flex: 1;
    display: flex;
}

.page-header {
    font-family: 'Courier New', Courier, monospace;
}

.content {
    width: 100%;
    max-width: 600px;
    padding: 1em 2em;
    margin: 0 auto;
}

.editable-tweet {
    font-size: 48px;
    caret-color: transparent;
}



.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;

    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;

    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;

    /* Support for IE. */
    font-feature-settings: 'liga';
}