.tweet {
    background: #fff;
    border-radius: 8px;
    margin-top: 4rem;
}

.tweet > * {
    padding: 0 40px;
}

.editable-tweet {
    font-size: 32px;
    caret-color: transparent;
}

.tweet-diff-info .diff-char {
    display: inline-block;
    vertical-align: middle;
    padding: 4px;
}

.tweet-diff-info .diff-char.old-char {
    box-shadow: inset 0 0 3px gray;
}

.tweet-diff-info .diff-char.new-char {
    background: var(--changed-character-color);
}

.tweet > .tweet-header {
    display: flex;
    flex-direction: row;
    padding-top: 30px;
    padding-bottom: 1.4em;
}

.tweet-header .author {
    flex: 1;
    display: flex;
    flex-direction: row;
    text-align: left;
    align-items: center;
}

.tweet-header .author-image {
    width: 60px;
    height: 60px;
    border-radius: 100px;
    margin-right: 1em;
}

.tweet-header .author-name {
    font-weight: bold;
    font-size: 1.1em;
}

.tweet-header .author-id {
    color: #aaa;
    font-size: 0.9em;
}

.tweet-header .author-id:before {
    content: "@";
}

.tweet-header .post-date {
    display: block;
    margin-bottom: 0.4em;
}

.tweet-footer {
    border-top: 2px solid var(--background-color);
    margin-top: 2em;
    padding-left: 0;
    padding-right: 0;
}

.controls {
    display: flex;
}

.controls button {
    flex: 1;
    display: block;
    border: none;
    background: transparent;
    padding: 1.6em;
    border-left: 2px solid var(--background-color);
    outline: none;
}

.controls button:first-child {
    border-bottom-left-radius: 8px;
    border-left: none;
}

.controls button:last-child {
    border-bottom-right-radius: 8px;
}

.controls button:hover:enabled { 
    background: #aaa3;
}

.controls button .label {
    display: block;
    font-size: 1em;
}

@keyframes cursor-blink {
    0% {
        box-shadow: inset 0 0 3px gray;
    }

    100% {
        box-shadow: inset 0 0 3px transparent;
        background-color: transparent;
    }
}

@media (max-height: 1000px), (max-width: 1000px) {
    .editable-tweet {
        font-size: 26px;
    }
}

@media (max-height: 800px), (max-width: 800px) {
    .editable-tweet {
        font-size: 22px;
    }
}

@media (max-width: 800px) {
    .tweet {
        margin-top: 2rem;
    }

    .tweet > * {
        padding: 0 20px;
    }
}

@media (max-width: 600px) {
    .tweet > .tweet-header {
        padding-top: 16px;
    }
}