.tweet {
    background: #fff;
    border-radius: 8px;
}

.tweet > * {
    padding: 0 40px;
}

.tweet-diff-info .diff-char {
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    vertical-align: middle;
    border-radius: 100px;
    background: #ccc;
}

.tweet-header {
    display: flex;
    flex-direction: row;
    padding-top: 30px;
    padding-bottom: 1em;
}

.tweet-header .author {
    flex: 1;
    display: flex;
    flex-direction: row;
    text-align: left;
    align-items: center;
}

.tweet-header .author-image {
    width: 60px;
    height: 60px;
    border-radius: 100px;
    margin-right: 1em;
}

.tweet-header .author-name {
    font-weight: bold;
    font-size: 1.1em;
}

.tweet-header .author-id {
    color: #aaa;
    font-size: 0.9em;
}

.tweet-header .author-id:before {
    content: "@";
}




.tweet-footer {
    border-top: 1px solid var(--background-color);
    margin-top: 1em;
    padding-top: 1em;
}